<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gastos Node</title>
</head>
<body>
    <main>
        <header>
            <div class="container">
                <div class="brand">
                    <h1>GastosNode</h1>
                </div>
                <nav>
                    <a href="#" class="enlace">Dashboard</a>
                    <a href="#" class="enlace">Consejos</a>
                    <a href="#" class="enlace">Calculadora</a>
                    <a href="#" class="enlace">Categoría</a>
                </nav>
            </div>
        </header>
        <section class="banner">
            <div class="container">
                <div class="dash-saldo modulo centrado-col">
                    <div class="saldo">
                        <h3>Tu saldo actual</h3>
                        <p>$ 0</p>
                    </div>
                    <div class="botones">
                        <button class="agregar">Agregar</button>
                        <button class="disminuir">Disminuir</button>
                    </div>
                </div>
                <div class="dash-grafica modulo">
                    <header class="dash-header">
                        <p>Reporte</p>
                    </header>
                    <section class="reportes ingresos">
                        <a href=""></a>
                        <p>$1000000</p>
                    </section>
                    <section class="reportes egresos">
                        <a href=""></a>
                        <p>$1000000</p>
                    </section>
                    <section class="reportes resultado">
                        <a href=""></a>
                        <p>$1000000</p>
                    </section>
                </div>
                <div class="dash-transacciones modulo">
                    <header class="dash-header">
                        <p>Transacciones</p>
                    </header>
                    <section class="transacciones">
                        <ul>
                            <li>
                                <div class="categoria"></div>
                                <div class="concepto">Arriendo</div>
                                <div class="valor-concepto">420000</div>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </section>
        <section class="dashboard">
            
        </section>
    </main>
</body>
</html>