.banner {
    height: calc(100vh - 60px);
    display: grid;
    align-content: center;
    .container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .modulo {
            width: 300px;
            height: 350px;
        }
    }
}
.modulo {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.161);
}
.dash-saldo {
    .saldo {
        p {
            font-size: 2rem;
            text-align: center;
            font-weight: bold;
            margin: 20px 0;
        }
    }
    .botones {
        button {
            width: 80px;
            height: 40px;
            font-weight: bold;
            color: #fff;
            font-size: 0.9rem;
            margin: 0 5px;
            border: none;
            // border: 2px solid $color2;
            border-radius: 5px;
            box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.314);
        }
        .agregar {
            background-color: $color4;
        }
        .disminuir {
            background-color: $color3;
        }
    }
}
.dash-grafica {
    border: 1px solid red;
    .reportes {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        .reporte-data {
            width: 100%;
            text-align: center;
            font-size: 0.8rem;
        }
    }
    img {
        width: 300px;
    }
}
.dash-header {
    height: 50px;
    color: $color1;
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 100;
}
.dash-transacciones {
    .lista-transacciones {
        height: 250px;
        scroll-behavior: smooth;
        // overflow-y: scroll;
        &::-webkit-scrollbar {
            background-color: $color1;
            width: 8px;
            // display: none;     
        }
        &::-webkit-scrollbar-thumb {
            overflow: hidden;
            background-color: $color3;
            // border: 1px solid #fff;
            border-radius: 4px;
            &:hover {
                box-shadow: 0 0 5px 4px #00000043;
            }
        }
        li {
            height: 50px;
            background-color: #fff;
            border-bottom: 2px solid $color1;
        }

    }
    .ver-mas {
        background-color: $color3;
        a {
            color: #fff;
        }
    }
}