.formularioModal {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;

    position: absolute;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 255, 255, 0.213);
    .modalContainer {
        background-color: aliceblue;
    }
}