* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: #EDE3DB;
}

h1 {
  color: #EDE3DB;
}

h3 {
  margin-top: 29px;
  font-size: 1.5rem;
  color: #DE4C51;
}

h4 {
  background-color: #DE4C51;
  width: 100%;
  padding: 30px;
  text-align: center;
  border-radius: 20px 20px 0 0;
  font-size: 1.5rem;
  color: #EDE3DB;
}

.container {
  width: 100%;
  padding: 0 150px;
}

.centrado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.centrado-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

header {
  height: 60px;
  width: 100%;
  background-color: #DE4C51;
}

header .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container a {
  margin-left: 20px;
  font-size: 1.2rem;
  color: #EDE3DB;
}

header .container a:hover {
  color: #fff;
  font-weight: bold;
}

.banner {
  height: calc(100vh - 60px);
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

.banner .container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner .container .modulo {
  width: 300px;
  height: 350px;
}

.modulo {
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.161);
          box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.161);
}

.dash-saldo .saldo p {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}

.dash-saldo .botones button {
  width: 80px;
  height: 40px;
  font-weight: bold;
  color: #fff;
  font-size: 0.9rem;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.314);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.314);
}

.dash-saldo .botones .agregar {
  background-color: #16D6D5;
}

.dash-saldo .botones .disminuir {
  background-color: #DE4C51;
}

.dash-grafica {
  border: 1px solid red;
}

.dash-grafica .reportes {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dash-grafica .reportes .reporte-data {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
}

.dash-grafica img {
  width: 300px;
}

.dash-header {
  height: 50px;
  color: #EDE3DB;
  font-weight: bold;
  font-size: 1.2rem;
}

.dash-transacciones .lista-transacciones {
  height: 250px;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.dash-transacciones .lista-transacciones::-webkit-scrollbar {
  background-color: #EDE3DB;
  width: 10px;
}

.dash-transacciones .lista-transacciones::-webkit-scrollbar-thumb {
  overflow: hidden;
  background-color: #DE4C51;
  border: 1px solid #fff;
  border-radius: 5px;
}

.dash-transacciones .lista-transacciones::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: 0 0 5px 4px #00000043;
          box-shadow: 0 0 5px 4px #00000043;
}

.dash-transacciones .lista-transacciones li {
  height: 50px;
  background-color: #fff;
  border-bottom: 2px solid #EDE3DB;
}

.formulario-modal {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  position: absolute;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(237, 227, 219, 0.4);
}

.formulario-modal .modalContainer {
  background-color: aliceblue;
}

form {
  width: 100%;
  height: 300px;
}

form input {
  width: 200px;
  padding: 5px 20px;
  outline: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  border: 2px solid #DE4C51;
}

form input::-webkit-inner-spin-button, form input::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

form input[type=number] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.cerrar {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #DE4C51;
  border: none;
  color: #fff;
  -webkit-box-shadow: 0 0 5px 5px #00000029;
          box-shadow: 0 0 5px 5px #00000029;
}

.submit-saldo {
  margin-top: 20px;
  border: none;
  font-size: 1.2rem;
  width: 200px;
  background-color: #16D6D5;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  color: #fff;
}

select {
  background-color: #DE4C51;
  width: 200px;
  padding: 5px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-weight: bold;
  border: 2px solid #EDE3DB;
}
/*# sourceMappingURL=estilos.css.map */